.sidebar{
  background-color: var(--gray-medium);
  display: flex;
  flex-direction: column;
  width: 60px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
}
.link {
  color: red;
}

@media (max-width: 768px) { //TODO ARREGLAR VARIABLE 
  .sidebar{
      flex-direction: row;
      width: 100%;
      height: 60px;
      border-radius: 4rem 4rem 0 0;
  }
}