.sidebar{
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.link {
  color: var(--primary);
}

.link.active {
  svg {
    color: var(--primary_active);
  }
  color: var(--primary_active);
}

@media (max-width: 768px) { //TODO ARREGLAR VARIABLE 
  .sidebar{
      flex-direction: row;
      width: 100%;
      height: 60px;
      border-radius: 0.5rem 0.5rem 0 0;
  }
}


.notification_counter_container {
  position: relative;

  .notification_counter {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: var(--primary);
    border-radius: 50%;
    color: white;
    font-size: 10px;
    text-align: center;
  }

  .notification_counter_active {
    background-color: rgba(255, 0, 0, 0.702);
  }
}